@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html {
  font-family: "Poppins", sans-serif;
}

.section-title {
  @apply text-3xl md:text-4xl text-center font-bold mb-12;
}

.set-center {
  @apply flex justify-center items-center;
}

.display-none {
  display: none;
}

@media only screen and (min-device-width: 1400px) {
  .flexGrowBigScreen {
    @apply flex-grow;
  }
}

/* Icon Spinner Css */
.svg {
  width: 2.95em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

/* Swiper.js */
.swiper {
  max-width: 800px;
  border-radius: 2%;
  /* padding-top: 50px;
  padding-bottom: 50px; */
}

/* .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
} */

