@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html {
  font-family: "Poppins", sans-serif;
}

.social-icon {
  @apply bg-gray-300 w-10 h-10 set-center rounded-full hover:bg-slate-700;
}

.section-title {
  @apply text-3xl md:text-4xl text-center font-bold mb-10;
}

.set-center {
  @apply flex justify-center items-center;
}

.display-none {
  display: none;
}

@media only screen and (min-device-width: 1400px) {
  .flexGrowBigScreen {
    @apply flex-grow;
  }
}

/* Icon Spinner Css */
.svg {
  width: 2.95em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

/* Swiper.js */
.swiper {
  max-width: 1200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.my-slied-style {
  /* background-image: url(path/to/your/background-image.jpg), linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-button-prev {
  color: "#fff";
  background: "#2dbe6c";
  padding: "15px 6px";
  box-shadow: "inset 0 0 0 0 #000";
  transition: "ease-out 0.3s";
  border-radius: "5px";
  cursor: "pointer";
}

.swiper-button-next {
  color: "#fff";
  background: "#2dbe6c";
  padding: "15px 6px";
  box-shadow: "inset 0 0 0 0 #000";
  transition: "ease-out 0.3s";
  border-radius: "5px";
  cursor: "pointer";
}

/* WhatsApp Icon */
.shake {
  animation: shake 1s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Gallery */
.gallery {
  @apply flex flex-wrap gap-5 justify-center px-5;
}
.photo {
  height: 280px;
  width: 350px;
  position: relative;
  transition: 0.4s linear;
  overflow: hidden;
}
.photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ------------- Border Animation ------------- */
.border_ {
  background-color: #fff;
  position: absolute;
  transition: 0.4s linear;
}
.border_.top,
.border_.bottom {
  height: 2px;
  width: 340px;
}
.border_.left,
.border_.right {
  width: 2px;
  height: 270px;
}
.border_.top {
  top: 5px;
  right: 100%;
}
.border_.bottom {
  bottom: 5px;
  left: 100%;
}
.border_.left {
  left: 5px;
  top: 100%;
}
.border_.right {
  right: 5px;
  bottom: 100%;
}
.photo:hover .border_.top {
  right: 5px;
}
.photo:hover .border_.bottom {
  left: 5px;
}
.photo:hover .border_.left {
  top: 5px;
}
.photo:hover .border_.right {
  bottom: 5px;
}
.photo_content {
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 6%;
  padding-top: 240px;
  top: 0;
  left: 0;
  transform: translateY(400px);
  opacity: 0;
  transition: 0.4s linear;
  /* z-index: 2; */
}
.photo::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(5, 5, 5, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.4s linear;
}
.photo:hover .photo_content {
  opacity: 1;
  transform: translateY(0);
}
.photo:hover::before {
  opacity: 1;
}
