@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html {
  font-family: "Poppins", sans-serif;
}

.section-title {
  @apply text-3xl md:text-4xl text-center font-bold mb-10;
}

.set-center {
  @apply flex justify-center items-center;
}

.display-none {
  display: none;
}

@media only screen and (min-device-width: 1400px) {
  .flexGrowBigScreen {
    @apply flex-grow;
  }
}

/* Icon Spinner Css */
.svg {
  width: 2.95em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

/* Swiper.js */
.swiper {
  max-width: 1200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.my-slied-style {
  /* background-image: url(path/to/your/background-image.jpg), linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-button-prev {
  color: "#fff";
  background: "#2dbe6c";
  padding: "15px 6px";
  box-shadow: "inset 0 0 0 0 #000";
  transition: "ease-out 0.3s";
  border-radius: "5px";
  cursor: "pointer";
}

.swiper-button-next {
  color: "#fff";
  background: "#2dbe6c";
  padding: "15px 6px";
  box-shadow: "inset 0 0 0 0 #000";
  transition: "ease-out 0.3s";
  border-radius: "5px";
  cursor: "pointer";
}

/* WhatsApp Icon */
.shake {
  animation: shake 1s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
